.carousel-item img {
    height: 70vh;
    // max-height: 60vh;
    object-fit: cover;
}  

.abt-text {
    .mission {
        background-color: var(--main-orange);
        color: var(--main-white);
        padding: 10px;
        margin-top: -16px;
    }
}