.volunteer {
    background-image: url('https://static.wixstatic.com/media/d9e58e_4d68f3476e8941e8a8a80fa401d20d57~mv2.jpeg/v1/crop/x_0,y_45,w_960,h_449/fill/w_940,h_440,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/WhatsApp%20Image%202022-04-27%20at%2015_05_51.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
