.home {
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: var(--main-white);
    overflow: hidden;
    height: 100vh;
    p {
        color: var(--main-white);
        text-shadow: 2px 2px 2px var(--main-black);
        font-weight: 600;
    }
    .extend {
        padding-bottom: 150px;
        button {
            font-weight: 600;
        }
        .btn1 {
            background-color: var(--main-orange);
            border: none;
        }
        .btn2 {
            border: 1px solid var(--main-white);
            color: var(--main-white);
        }
        .btn2:hover {
            color: var(--main-white);
            background-color: var(--main-black);
        }
    }
}

.section-bg {
    h6 {
        font-size: 1.5rem;
        .icon {
            font-size: 30px !important;
        }
    }
}

.statements {
    .icon {
        font-size: 70px !important;
        color: var(--main-orange);
    }
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.indicator {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: var(--main-orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.partners {
    h5 {
        color: var(--main-orange);
    }
    .card {
        background-color: var(--main-black);
    }
}

.people {
    img {
        border-radius: 50%;
    }
}