.home {
    h1 {
        font-size: 3.5rem;
        @media (max-width: 991px) {
            font-size: 3rem;
        }
        @media (max-width: 767px) {
            font-size: 2.7rem;
        }
        @media (max-width: 575px) {
            font-size: 2rem;
        }
        @media (max-width: 400px) {
            font-size: 1.5rem;
        }
    }
    p {
        color: var(--main-white);
        text-shadow: 2px 2px 2px var(--main-black);
        font-weight: 600;
        @media (max-width: 575px) {
            font-size: 1.2rem;
        }
        @media (max-width: 400px) {
            font-size: 1rem;
        }
    }
    .extend {
        button {
            font-weight: 600;
            @media (max-width: 575px) {
                font-size: 1.2rem;
            }
            @media (max-width: 400px) {
                font-size: 1rem;
            }
        }
        .btn1 {
            background-color: var(--main-orange);
            border: none;
        }
        .btn2 {
            border: 1px solid var(--main-white);
            color: var(--main-white);
            &:hover {
                color: var(--main-white);
                background-color: var(--main-black);
                border: none;
            }
        }
    }
}

.section-bg {
    h6 {
        font-size: 1.5rem;
        .icon {
            font-size: 30px !important;
        }
    }
}

.statements {
    .icon {
        font-size: 70px !important;
        color: var(--main-orange);
        @media (max-width: 991px) {
            font-size: 50px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }

    h5 {
        @media (max-width: 991px) {
            font-size: 1.7rem;
        }
        @media (max-width: 767px) {
            font-size: 1.4rem;
        }
    }

    h6 {
        font-size: 1.3rem;
        @media (max-width: 991px) {
            font-size: 1.2rem;
        }
        @media (max-width: 767px) {
            font-size: 1rem;
        }
    }
}
.statements-2 {
    h6 {
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
}

.md-screen {
    margin: 0 auto;
}

.medical-mission {
    h3 {
        @media (max-width: 991px) {
            font-size: 2rem;
        }
    }
    p {
        @media (max-width: 991px) {
            font-size: 1.2rem;
        }
    }
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.indicator {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: var(--main-orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    @media (min-width: 992px) and (max-width: 1250px) {
        font-size: 0.8rem;
        // padding: auto 20px;
    }
    @media (max-width: 400px) {
        font-size: 1rem;
    }
}

.header-3 {
    font-size: 2.7rem;
    @media (max-width: 767px) {
        font-size: 2.3rem;
    }
    @media (max-width: 400px) {
        font-size: 2rem;
    }
}

.header-5 {
    font-size: 2rem;
}

.partners {
    h5 {
        color: var(--main-orange);
    }
    .card {
        background-color: var(--main-black);
    }
}

.people {
    img {
        border-radius: 50%;
        margin: 0 auto;
    }
}