.partner {
    background-image: url('https://static.wixstatic.com/media/d9e58e_1af48e9d06d347f4a114a6729d71992d~mv2.jpg/v1/fill/w_719,h_336,al_c,lg_1,q_80,enc_auto/kyangwali%20Refugee%20Camp%2C%20P4T%20History%202_jp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
