.history {
    background-image: url('../../assets/Bg0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.p4t-history {
    margin: auto 50px;
    img {
        margin-top: -150px;
    }
    p {
        text-align: left;
    }
}