// @import "../../App.scss";

.navbar{
    width: 100%;
    color: var(--main-black);
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);

    &.scrolled{
        background-color: var(--main-white);
    }
}

.link {
    font-size: 16px;
    font-weight: 600;
}

.nav-btn {
    font-size: 25px;
    color: var(--main-white);
    background-color: var(--main-orange);
    border: none;
    padding: 5px;
}
