// @import "../../App.scss";

.navbar{
    width: 100%;
    color: var(--main-white);
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);

    &.scrolled{
        background-color: var(--main-white);
        margin: 0;
    }
    .link {
        font-size: 18px;
        font-weight: 700;
    }
    .donate {
        border: 3px solid var(--main-orange);
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        &:hover {
            background-color: var(--main-orange);
            // color: var(--main-white);
        }
    }
    .left {
        padding-left: 400px;
        @media (max-width: 1700px) {
            padding-left: 200px;
        }
        @media (max-width: 1500px) {
            padding-left: 100px;
        }
        @media (max-width: 1400px) {
            padding-left: 0px;
        }
    }
    
    .right {
        .icon {
            font-size: 16px;
        }
    }
}

