// @import "../../App.scss";

.navbar{
    width: 100%;
    color: var(--main-white);
    position: fixed;
    top: 0;
    z-index: 999;
    // background-color: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
    
    &.scrolled{
        background-color: var(--main-white);
        margin: 0;
    }



    .navbar-toggler {
        border: none;
    }
    .navbar-collapse {
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.3); /* Initial background color */
        
        &.scrolled {
            background-color: var(--main-orange); /* Solid orange background when scrolled */
            margin: 0;
        }
    }

    .link {
        font-size: 18px;
        font-weight: 700;
        @media (max-width: 991px) {
            font-size: 25px;
        }
    }
    .donate {
        border: 3px solid var(--main-orange);
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        &:hover {
            background-color: var(--main-orange);
            // color: var(--main-white);
        }
        @media (max-width: 991px) {
            border: none;
        }
    }
    .left {
        padding-left: 400px;
        @media (max-width: 1700px) {
            padding-left: 200px;
        }
        @media (max-width: 1500px) {
            padding-left: 100px;
        }
        @media (max-width: 1400px) {
            padding-left: 0px;
        }
    }
    
    .right {
        .icon {
            font-size: 16px;
            // @media (max-width: 991px) {
            //     display: none;
            // }
        }
        .icon-2 {
            // font-size: 16px;
            @media (max-width: 991px) {
                display: none;
                // padding-top: -20px;
            }
        }
        .icon-3{
            // font-size: 16px;
            @media (max-width: 991px) {
                // display: none;
                margin-top: -40px;
            }
        }
    }
}

