.main-footer {
    background-color: var(--main-black);
    color: var(--main-white);

    a {
        color: var(--main-white);

        &:hover {
            color: var(--main-orange);
        }
    }

    p {
        font-size: 1.2rem;
    }

    .subscribe-btn:hover {
        background-color: var(--main-white);
        color: var(--main-black);
    }

    .footer-icon {
        cursor: pointer;
        font-size: 30px;

        &:hover {
            color: var(--main-orange);
        }
    }
}
