.main-footer {
    background-color: var(--main-black);
    color: var(--main-white);

    a {
        color: var(--main-white);

        &:hover {
            color: var(--main-orange);
        }
        @media (max-width: 991px) {
            font-size: 0.9rem;
        }
    }

    h6 {
        font-size: 1.4rem;
        @media (max-width: 991px) {
            font-size: 1rem;
        }
    }

    p {
        font-size: 1.2rem;
        @media (max-width: 991px) {
            font-size: 1rem;
        }
        @media (max-width: 450px) {
            font-size: 0.8rem;
        }
    }

    .subscribe-btn:hover {
        background-color: var(--main-white);
        color: var(--main-black);
    }

    .footer-icon {
        cursor: pointer;
        font-size: 30px;

        &:hover {
            color: var(--main-orange);
        }
        @media (max-width: 991px) {
            font-size: 25px;
        }
        @media (max-width: 450px) {
            font-size: 20px;
        }
    }
}
