@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-black: #0b0b0b;
  --main-red: rgb(226, 66, 66);
  --main-orange: rgb(233, 107, 34);
  --main-white: white;
  --main-gray: rgb(238, 235, 235);
}

body {
  font-family: 'Montserrat';
}

html, body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--main-black);
  text-shadow: 4px 4px 4px var(--main-white);
}

h2 {
  font-size: 2.8rem;
  font-weight: 600;
}

h3 {
  font-size: 2.3rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
}

h6 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}

.orange-btn {
  background-color: var(--main-orange);
  border: none;
}

.orange-btn:hover {
  background-color: var(--main-black);
}

.section-bg {
  color: var(--main-white);
  background-color: var(--main-orange);
  padding: 5% 3%;
}

.section-bg2 {
    background-color: var(--main-gray);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .intro-text {
    font-weight: 600;
    color: var(--main-white);
    text-shadow: 4px 4px 4px var(--main-black);
  }
}
