.education {
    background-image: url('../../assets/education.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    .intro-text {
        color: var(--main-orange);
        text-shadow: 2px 2px 2px var(--main-black);
    }
}

.extra {
    background-color: var(--main-white);
    color: var(--main-black);
    padding: 10px;
}
