.education {
    background-image: url('../../assets/education.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    .intro-text {
        color: var(--main-orange);
        text-shadow: 2px 2px 2px var(--main-black);
    }
}

.education-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    a {
        text-decoration: none;
        color: var(--main-white);
        h6 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}