.education {
    background-image: url('../../assets/secondary2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.education-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    a {
        text-decoration: none;
        color: var(--main-orange);
        h6 {
            font-size: 1.5rem;
            font-weight: 600;
        }
        img {
            width: 300px;
            height: 250px;
            border-radius: 25px;

            &:hover {
                width: 320px;
                height: 270px;
            }
        }
    }
}